.chatRoomContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.chatRoomTopBar {
  display: flex;
  align-items: center;
}

.chatRoomTopBar h1 {
  flex: 1;
}

.messagesContainer {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border-radius: 7px 7px 0 0;
  margin-bottom: 8px;
}

.messagesList {
  list-style-type: none;
  padding: 0;
}

/* Login */
.login {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: scroll;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 7px;
}

.loginBox label {
  color: white;
  margin: 1rem 0 .2rem 0;
}

.loginBox input {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
}

.loginBox button {
  margin-top: 8px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  background-color: #36d399;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
